
[*.{appxmanifest,asax,ascx,aspx,axaml,axml,blockshader,c,c++,c++m,cc,ccm,cginc,compute,config,cp,cpp,cppm,cql,cs,cshtml,csproj,cu,cuh,cxx,cxxm,dbml,discomap,dtd,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,htm,html,hxx,icc,inc,inl,ino,ipp,ixx,jsproj,lsproj,master,mpp,mq4,mq5,mqh,mxx,njsproj,nuspec,paml,proj,props,razor,resw,resx,shaderFoundry,skin,sql,StyleCop,targets,tasks,tcc,tpp,urtshader,usf,ush,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[*]

# Standard properties
end_of_line = crlf
insert_final_newline = true
max_line_length = 140

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = accessors,events,indexers,local_functions,methods,properties,types
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async, file:suggestion
csharp_space_after_cast = true
csharp_space_before_comma = true
csharp_space_between_empty_square_brackets = true
csharp_space_between_method_call_empty_parameter_list_parentheses = true
csharp_space_between_method_call_name_and_opening_parenthesis = true
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = true
csharp_space_between_method_declaration_name_and_open_parenthesis = true
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.constants_pascal_rule.import_to_resharper = True
dotnet_naming_rule.constants_pascal_rule.resharper_description = constants_pascal
dotnet_naming_rule.constants_pascal_rule.resharper_guid = b7c651a5-d323-42a1-978d-5df5a4ee1990
dotnet_naming_rule.constants_pascal_rule.severity = suggestion
dotnet_naming_rule.constants_pascal_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_pascal_rule.symbols = constants_pascal_symbols
dotnet_naming_rule.interfaces_prefix_i_rule.import_to_resharper = True
dotnet_naming_rule.interfaces_prefix_i_rule.resharper_description = interfaces_prefix_i
dotnet_naming_rule.interfaces_prefix_i_rule.resharper_guid = 71cd287a-00a4-49fd-af5a-29e759a4a255
dotnet_naming_rule.interfaces_prefix_i_rule.severity = suggestion
dotnet_naming_rule.interfaces_prefix_i_rule.style = i_upper_camel_case_style
dotnet_naming_rule.interfaces_prefix_i_rule.symbols = interfaces_prefix_i_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = True
dotnet_naming_rule.private_constants_rule.resharper_description = Constant fields (private)
dotnet_naming_rule.private_constants_rule.resharper_guid = 236f7aa5-7b06-43ca-bf2a-9b31bfcff09a
dotnet_naming_rule.private_constants_rule.severity = suggestion
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_fields_underscore_rule.import_to_resharper = True
dotnet_naming_rule.private_fields_underscore_rule.resharper_description = private_fields_underscore
dotnet_naming_rule.private_fields_underscore_rule.resharper_guid = d12d6ee6-685a-450d-94ac-91b157172f51
dotnet_naming_rule.private_fields_underscore_rule.severity = suggestion
dotnet_naming_rule.private_fields_underscore_rule.style = lower_camel_case_style
dotnet_naming_rule.private_fields_underscore_rule.symbols = private_fields_underscore_symbols
dotnet_naming_rule.private_instance_fields_override_rule.import_to_resharper = False
dotnet_naming_rule.private_instance_fields_override_rule.severity = suggestion
dotnet_naming_rule.private_instance_fields_override_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_override_rule.symbols = private_instance_fields_override_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = True
dotnet_naming_rule.private_instance_fields_rule.resharper_description = Instance fields (private)
dotnet_naming_rule.private_instance_fields_rule.resharper_guid = 4a98fdf6-7d98-4f5a-afeb-ea44ad98c70c
dotnet_naming_rule.private_instance_fields_rule.severity = suggestion
dotnet_naming_rule.private_instance_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = True
dotnet_naming_rule.private_static_fields_rule.resharper_description = Static fields (private)
dotnet_naming_rule.private_static_fields_rule.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.private_static_fields_rule.resharper_guid = f9fce829-e6f4-4cb2-80f1-5497c44f51df
dotnet_naming_rule.private_static_fields_rule.severity = suggestion
dotnet_naming_rule.private_static_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = True
dotnet_naming_rule.private_static_readonly_rule.resharper_description = Static readonly fields (private)
dotnet_naming_rule.private_static_readonly_rule.resharper_guid = 15b5b1f1-457c-4ca6-b278-5615aedc07d3
dotnet_naming_rule.private_static_readonly_rule.severity = suggestion
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.static_readonly_pascal_rule.import_to_resharper = True
dotnet_naming_rule.static_readonly_pascal_rule.resharper_description = static_readonly_pascal
dotnet_naming_rule.static_readonly_pascal_rule.resharper_guid = ca430d73-c230-460b-b3a2-1e48efb31a9a
dotnet_naming_rule.static_readonly_pascal_rule.severity = suggestion
dotnet_naming_rule.static_readonly_pascal_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_pascal_rule.symbols = static_readonly_pascal_symbols
dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_pascal_symbols.applicable_accessibilities = *
dotnet_naming_symbols.constants_pascal_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_pascal_symbols.required_modifiers = const
dotnet_naming_symbols.constants_pascal_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.constants_pascal_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.interfaces_prefix_i_symbols.applicable_accessibilities = *
dotnet_naming_symbols.interfaces_prefix_i_symbols.applicable_kinds = interface
dotnet_naming_symbols.interfaces_prefix_i_symbols.resharper_applicable_kinds = interface
dotnet_naming_symbols.interfaces_prefix_i_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_constants_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.private_constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_fields_underscore_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_fields_underscore_symbols.applicable_kinds = field
dotnet_naming_symbols.private_fields_underscore_symbols.resharper_applicable_kinds = any_field
dotnet_naming_symbols.private_fields_underscore_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_instance_fields_override_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_override_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_override_symbols.required_modifiers = static
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_fields_symbols.resharper_applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = readonly,static
dotnet_naming_symbols.private_static_readonly_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.private_static_readonly_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.static_readonly_pascal_symbols.applicable_accessibilities = *
dotnet_naming_symbols.static_readonly_pascal_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_pascal_symbols.required_modifiers = readonly,static
dotnet_naming_symbols.static_readonly_pascal_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.static_readonly_pascal_symbols.resharper_required_modifiers = static
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_expression = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_for_stmt = true
resharper_align_multiline_list_pattern = true
resharper_align_multiline_parameter = true
resharper_align_multiline_property_pattern = true
resharper_align_multiline_switch_expression = true
resharper_align_multiline_type_parameter_constraints = true
resharper_align_multiline_type_parameter_list = true
resharper_align_multiple_declaration = true
resharper_align_tuple_components = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_before_block_statements = 1
resharper_braces_for_dowhile = required_for_multiline
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required_for_multiline
resharper_braces_for_while = required
resharper_csharp_align_first_arg_by_paren = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_outdent_commas = true
resharper_csharp_outdent_dots = true
resharper_csharp_space_between_typecast_parentheses = true
resharper_csharp_space_within_parentheses = true
resharper_csharp_stick_comment = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = chop_always
resharper_enforce_line_ending_style = true
resharper_indent_anonymous_method_block = true
resharper_instance_members_qualify_declared_in = 
resharper_outdent_binary_ops = true
resharper_outdent_binary_pattern_ops = true
resharper_parentheses_redundancy_style = remove
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_space_after_logical_not_op = true
resharper_space_after_unary_minus_op = true
resharper_space_before_array_rank_brackets = true
resharper_space_before_colon = true
resharper_space_before_nameof_parentheses = true
resharper_space_before_new_parentheses = true
resharper_space_before_semicolon = true
resharper_space_before_typeof_parentheses = true
resharper_space_before_type_argument_angle = true
resharper_space_within_attribute_brackets = true
resharper_space_within_catch_parentheses = true
resharper_space_within_if_parentheses = true
resharper_space_within_nameof_parentheses = true
resharper_space_within_new_parentheses = true
resharper_space_within_single_line_array_initializer_braces = false
resharper_space_within_typeof_parentheses = true
resharper_space_within_type_argument_angles = true
resharper_use_indent_from_vs = false
resharper_wrap_after_primary_constructor_declaration_lpar = false
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_lines = true
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_wrap_primary_constructor_parameters_style = chop_always

# ReSharper inspection severities
resharper_arrange_namespace_body_highlighting = suggestion
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_convert_if_statement_to_return_statement_highlighting = suggestion
resharper_enforce_do_while_statement_braces_highlighting = suggestion
resharper_enforce_fixed_statement_braces_highlighting = suggestion
resharper_enforce_foreach_statement_braces_highlighting = suggestion
resharper_enforce_for_statement_braces_highlighting = suggestion
resharper_enforce_if_statement_braces_highlighting = suggestion
resharper_enforce_lock_statement_braces_highlighting = suggestion
resharper_enforce_using_statement_braces_highlighting = suggestion
resharper_enforce_while_statement_braces_highlighting = suggestion
resharper_inconsistent_naming_highlighting = suggestion
resharper_incorrect_blank_lines_near_braces_highlighting = warning
resharper_missing_blank_lines_highlighting = warning
resharper_redundant_blank_lines_highlighting = warning
resharper_remove_redundant_braces_highlighting = suggestion
